<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Lighthouse - {% block title %}Untitled{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" type="text/css" href="/m/style.css"/>
  
  <!--[if lt IE 7.]>
  <script defer type="text/javascript" src="/m/pngfix.js"></script>
  <![endif]-->
  <script type="text/javascript" src="/m/mootools-core.js"></script>
  <script type="text/javascript" src="/m/jquery.js"></script>
  <script type="text/javascript" src="/m/jquery.bt.js"></script>
  <script type="text/javascript" src="/m/raphael.js"></script>
  <script type="text/javascript" src="/m/cfg.js"></script>
  <script type="text/javascript">
  jQuery.bt.defaults.trigger = 'click';
  jQuery.bt.defaults.animate = true;
  jQuery.bt.defaults.strokeWidth = 1;
  jQuery.bt.defaults.killTitle = false;
  </script>
</head>

<body>
{% block content %}{% endblock %}
</body>
</html>
